{{template "header.html" "success"}}

<h1 class="my-4">Workers</h1>

<table class="table" style="table-layout: fixed">
	{{$sizeClassQueueNameJSON := "unset"}}
	{{$invocationNameJSON := "unset"}}
	{{$instanceNamePrefix := "unset"}}
	{{with .Filter.GetExecuting}}
		{{$sizeClassQueueNameJSON = proto_to_json .SizeClassQueueName}}
		{{$invocationNameJSON = proto_to_json .}}
		{{$instanceNamePrefix = .SizeClassQueueName.PlatformQueueName.InstanceNamePrefix}}
		{{template "invocation_info.html" .}}
	{{else}}
		{{with .Filter.GetIdleSynchronizing}}
			{{$sizeClassQueueNameJSON = proto_to_json .SizeClassQueueName}}
			{{$invocationNameJSON = proto_to_json .}}
			{{$instanceNamePrefix = .SizeClassQueueName.PlatformQueueName.InstanceNamePrefix}}
			{{template "invocation_info.html" .}}
		{{else}}
			{{$sizeClassQueueName := .Filter.GetAll}}
			{{$sizeClassQueueNameJSON = proto_to_json $sizeClassQueueName}}
			{{$invocationNameJSON = printf "{\"sizeClassQueueName\":%s}" $sizeClassQueueNameJSON}}
			{{$instanceNamePrefix = $sizeClassQueueName.PlatformQueueName.InstanceNamePrefix}}
			{{template "size_class_queue_info.html" $sizeClassQueueName}}
		{{end}}
	{{end}}
</table>

<div class="d-flex justify-content-between">
	<nav>
		<ul class="pagination">
			{{if .Filter.GetExecuting}}
				<li class="active page-item">
					<span class="page-link">Executing</span>
				</li>
			{{else}}
				<li class="page-item">
					<a class="page-link" href="?filter={{ printf "{\"executing\":%s}" $invocationNameJSON}}">Executing</a>
				</li>
			{{end}}
			{{if .Filter.GetIdleSynchronizing}}
				<li class="active page-item">
					<span class="page-link">Idle synchronizing</span>
				</li>
			{{else}}
				<li class="page-item">
					<a class="page-link" href="?filter={{ printf "{\"idleSynchronizing\":%s}" $invocationNameJSON}}">Idle synchronizing</a>
				</li>
			{{end}}
			{{if .Filter.GetAll}}
				<li class="active page-item">
					<span class="page-link">All</span>
				</li>
			{{else}}
				<li class="page-item">
					<a class="page-link" href="?filter={{ printf "{\"all\":%s}" $sizeClassQueueNameJSON}}">All</a>
				</li>
			{{end}}
		</ul>
	</nav>
	<nav>
		<ul class="pagination">
			{{if eq .PaginationInfo.StartIndex 0}}
				<li class="disabled page-item">
					<span class="page-link">◀◀</span>
				</li>
			{{else}}
				<li class="page-item">
					<a class="page-link" href="?filter={{proto_to_json .Filter}}">◀◀</a>
				</li>
			{{end}}
			<li class="active page-item">
				<span class="page-link text-nowrap">
					Showing workers [{{.PaginationInfo.StartIndex}}, {{.EndIndex}}) of {{.PaginationInfo.TotalEntries}} in total
				</span>
			</li>
			{{if .StartAfter}}
				<li class="page-item">
					<a class="page-link" href="?filter={{proto_to_json .Filter}}&amp;start_after={{proto_to_json .StartAfter}}">▶</a>
				</li>
			{{else}}
				<li class="disabled page-item">
					<span class="page-link">▶</span>
				</li>
			{{end}}
		</ul>
	</nav>
</div>

<div class="table-responsive">
	<table class="align-middle border-dark table table-bordered table-sm">
		<thead class="text-center">
			<tr>
				<th>Worker ID</th>
				<th>Worker timeout</th>
				<th>Operation timeout</th>
				<th>Operation name</th>
				<th>Action digest</th>
				<th>Target ID</th>
			</tr>
		</thead>
		<tbody>
			{{$browserURL := .BrowserURL}}
			{{$now := .Now}}
			{{range .Workers}}
				<tr>
					<td>
						{{range $key, $value := .Id}}
							<span class="badge bg-primary text-nowrap">{{$key}}={{$value | printf "%#v"}}</span>
						{{end}}
					</td>
					<td class="text-end">{{with .Timeout}}{{time_future . $now}}{{else}}∞{{end}}</td>
					{{with .CurrentOperation}}
						<td class="text-end">{{with .Timeout}}{{time_future . $now}}{{else}}∞{{end}}</td>
						<td style="background-color: {{to_background_color .Name}}">
							<a class="font-monospace" href="operation?name={{.Name}}" style="color: {{to_foreground_color .Name}}">{{abbreviate .Name}}</a>
						</td>
						<td style="background-color: {{to_background_color .ActionDigest.Hash}}">
							<a class="font-monospace" href="{{action_url $browserURL $instanceNamePrefix .InstanceNameSuffix .DigestFunction .ActionDigest}}" style="color: {{to_foreground_color .ActionDigest.Hash}}">{{abbreviate .ActionDigest.Hash}}</a>
						</td>
						<td><span style="word-break: break-all">{{.TargetId}}</span></td>
					{{else}}
						<td class="text-center" colspan="4">{{if .Drained}}drained{{else}}idle{{end}}</td>
					{{end}}
				</tr>
			{{end}}
		</tbody>
	</table>
</div>

{{template "footer.html"}}
