{{template "header.html" "success"}}

<h1 class="my-4">Invocation children</h1>

{{$invocationName := .InvocationName}}
<table class="table" style="table-layout: fixed">
	{{template "invocation_info.html" $invocationName}}
</table>

<nav>
	<ul class="pagination">
		{{if eq .Filter "QUEUED"}}
			<li class="active page-item">
				<span class="page-link">Queued</span>
			</li>
		{{else}}
			<li class="page-item">
				<a class="page-link" href="?invocation_name={{proto_to_json $invocationName}}&amp;filter=QUEUED">Queued</a>
			</li>
		{{end}}
		{{if eq .Filter "ACTIVE"}}
			<li class="active page-item">
				<span class="page-link">Active</span>
			</li>
		{{else}}
			<li class="page-item">
				<a class="page-link" href="?invocation_name={{proto_to_json $invocationName}}&amp;filter=ACTIVE">Active</a>
			</li>
		{{end}}
		{{if eq .Filter "ALL"}}
			<li class="active page-item">
				<span class="page-link">All</span>
			</li>
		{{else}}
			<li class="page-item">
				<a class="page-link" href="?invocation_name={{proto_to_json $invocationName}}&amp;filter=ALL">All</a>
			</li>
		{{end}}
	</ul>
</nav>

<div class="table-responsive">
	<table class="align-middle border-dark table table-bordered table-sm">
		<thead class="text-center">
			<tr>
				<th rowspan="2">Invocation ID</th>
				<th rowspan="2">Queued operations</th>
				<th colspan="3">Children</th>
				<th colspan="3">Workers</th>
			</tr>
			<tr>
				<th>Queued</th>
				<th>Active</th>
				<th>All</th>
				<th>Executing</th>
				<th>Idle</th>
				<th>Idle synchronizing</th>
			</tr>
		</thead>
		<tbody>
			{{$now := .Now}}
			{{range .Children}}
				{{$childInvocationName := get_child_invocation_name $invocationName .Id}}
				{{$childInvocationNameJSON := proto_to_json $childInvocationName}}
				<tr>
					<td style="word-break: break-all">{{proto_to_json .Id}}</td>
					<td class="text-end"><a href="queued_operations?invocation_name={{$childInvocationNameJSON}}">{{.State.QueuedOperationsCount}}</a></td>
					<td class="text-end"><a href="invocation_children?invocation_name={{$childInvocationNameJSON}}&amp;filter=QUEUED">{{.State.QueuedChildrenCount}}</a></td>
					<td class="text-end"><a href="invocation_children?invocation_name={{$childInvocationNameJSON}}&amp;filter=ACTIVE">{{.State.ActiveChildrenCount}}</a></td>
					<td class="text-end"><a href="invocation_children?invocation_name={{$childInvocationNameJSON}}&amp;filter=ALL">{{.State.ChildrenCount}}</a></td>
					<td class="text-end"><a href="workers?filter={{printf "{\"executing\":%s}" $childInvocationNameJSON}}">{{.State.ExecutingWorkersCount}}</a></td>
					<td class="text-end">{{.State.IdleWorkersCount}}</td>
					<td class="text-end"><a href="workers?filter={{printf "{\"idleSynchronizing\":%s}" $childInvocationNameJSON}}">{{.State.IdleSynchronizingWorkersCount}}</a></td>
				</tr>
			{{end}}
		</tbody>
	</table>
</div>

{{template "footer.html"}}
